div[ws-container-id='nav-quick-tools'] {
  & span.MuiBottomNavigationAction-wrapper {
    & > img {
      width: 10vw;
    }
    & > span {
      font-size: 0.9rem;
    }
  }
}
div[ws-container-id='slidebox'] {
  margin: 0 !important;
  & > div:last-child {
    margin-top: -20px !important;
    & > div {
      & > div {
        height: 10px;
        width: 10px;
        border-radius: 5px;
        background: #ffffff !important;
        // border: 1px solid #f00;
        &.MuiMobileStepper-dotActive {
          background: #f00 !important;
          height: 10px !important;
          width: 30px !important;
          // border: 1px solid #fff;
        }
      }
    }
  }
}
div[ws-container-id='normal-service-link'] {
  background: #eee !important;
}
div[ws-container-id='lable-card'] {
  background: #fff !important;
  padding: 1vh 1vw;
  & > ul {
    & > li {
      & > div {
        border: 1px solid #ea536833;
        border-radius: 5px;
        padding: 5px;
        // background: #F9E8E8;
        background: rgba(249, 232, 232, 0.2);
        & > img {
          border-radius: 5px;
        }
        & > div {
          margin-top: 5px;
          background: none;
          & > div.MuiGridListTileBar-titleWrap {
            margin: 0px !important;
            background: none;
            & > div.MuiGridListTileBar-title {
              font-size: 0.78rem;
              background: none;
            }
            & > div.MuiGridListTileBar-subtitle {
              color: #f00;
              background: none;
            }
          }
        }
      }
    }
  }
}
